body{
    background-image: url(img/zoryane-nebo.jpg);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

.to-menu {
 position: fixed;
 top:800px;
 left:50px;
}

.to-menu img{
    width: 100px;
    height: 100px;
}


a{
    text-decoration: none;
}
.photo img {
width: 100px;
height: 100px;
}
.header{
    background: linear-gradient( aqua, #fff);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100wh;
    justify-content: space-evenly;
}

.main{
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    height: 100vh;
    /* background-color: #E0FFFF; */
    align-items: center;
    gap:20px;
    justify-content:flex-start;
}

.name-1{
    padding: 10px;
    height: 150px;
    width: 200vh;
    border: solid;
    background: linear-gradient(violet, white);
    border-radius: 30px;
    color: black;
    flex-direction: column;
    display: flex;
    font-family: 'Edu TAS Beginner', cursive;
}

.text-main{
    height: 30px;
    width: 190px;
    border: solid;
    background: white;
    border-radius: 30px;
    padding: 20px;
}

.text-question{
    margin-bottom: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding{
    padding: 40px;
}

.story{
    flex-direction: column;
    border: solid;
    background:  rgb(157, 117, 251,0.8);
    /* opacity: 80%; */
    border-radius: 30px;
    color: white;
    display: flex;
    width: 1000px;
    height: 1500px;
    padding: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    gap: 20px;
}

.linear{
    flex-direction: column;
    border: solid;
    background: linear-gradient( rgb(206, 255, 71), white);
    border-radius: 30px;
    color: black;
    display: flex;
    width: 350px;
    height: 120px;
    padding: 20px;
    font-family: 'Edu TAS Beginner', cursive;
}


.block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.picture-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
    
}

.picture-container img{
    border-radius: 20px;
    align-items: center;
    width: 400px;
    height: 300px;
}

.type{
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
}

.trash{
    padding: 40px;
}

.danger-trash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    gap: 30px;
}

.picture-danger img{
    border-radius: 20px;
    align-items: center;
    width: 100px;
    height: 100px;
}

.danger-text{
    flex-direction: row;
    border: solid;
    background: linear-gradient( hsl(160, 46%, 48%), white);
    border-radius: 30px;
    color: white;
    display: flex;
    width: 850px;
    height: 120px;
    padding: 20px;
    justify-content: center;
}

.danger{
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    justify-content: center;
}
