*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.photo img{
    width: 100px;
    height: 100px;
}
.header{
    background: linear-gradient( aqua, #fff);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100wh;
    justify-content: space-evenly;
}

.main{
    display: flex;
    flex-direction: column;   
    height: 100vh;
    /* background-color: #E0FFFF; */
    align-items: flex-end;
    gap: 20px;
    justify-content: flex-start;
}

.name-1{
    padding: 10px;
    height: 150px;
    width: 200vh;
    border: solid;
    background: linear-gradient( blue, black);
    border-radius: 30px;
    color: #fff;
    flex-direction: column;
    display: flex;
}

.text-main{
    height: 30px;
    width: 190px;
    border: solid;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}

.text-question{
    margin-bottom: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding{
    padding: 40px;
}

.story{
    flex-direction: column;
    border: solid;
    background: linear-gradient( white, rgb(41, 72, 78));
    border-radius: 30px;
    color: black;
    display: flex;
    width: 1000px;
    height: 800px;
}

.linear{
    padding-left: 20px;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 120px;
}
